.menu-news{

}
.menu-news > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height:auto ;
    width: 320px; 
}
.menu-news > ul > li{
    
}
.menu-news > ul > li > a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 20px;
    border:1px solid #290d6e;
    background-color: rgb(86, 86, 239);
}

.menu-news > ul > li.low:hover > a{
    background-color: #080454;
}

.menu-news > ul > li > ul{
    display: none;
    position: absolute;
    list-style: none;
    padding: 20px;
    background-color: #080454;
    z-index: 10000;
    width: 250px;
}
.menu-news > ul > li:hover > ul{
    display: block;
    position: absolute;
    top: 335px;
    left: 400px;
}
.menu-news > ul > li > ul > li + li{
    margin-top: 10px;
}
.menu-news > ul > li > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}