.block{
    width: 400px;
    height: 400px;
    background: #000;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
}
.inner{
    width: 100px;
    height: 100px;
    background: rgb(139, 27, 173);
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    position: absolute;
    float: left;
}
.inner1{
    margin: 300px;
    }
    .inner2{
    margin: 200px;;
    }
    .inner3{
    margin: 100px; ;
    }
    .inner4{
    margin:0px ;
    }