.company {
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    padding-top: 258px;
    overflow-x: hidden;

    .container{
        background-color: $white;
        padding: 68px 98px 105px 40px;
        margin-right: 0;
        padding-right: 0;
    }

    &__logo {
        margin-bottom: 78px;

        img {
            width: 242px;
        }
    }

    &__polish {
        font-size: 22px;
        line-height: 33px;
        text-transform: uppercase;
        margin-bottom: 74px;
        padding-right: 10px;

        
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 74px;
        padding-right: 445px;
    }

}


