.fertilizers {
    background: url(../img/product-bg.png) repeat-x 0 273px;
    margin-bottom: 150px;

    &__title {
        margin-bottom: 50px;

        h2 {
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            color: $white;
        }
    }

    &__products {
        display: flex;
        padding-bottom: 50px;
        
    }

    &__product {
        display: flex;
        flex-direction: column;
        margin-right: 11px;
        width: calc((100% - 22px) / 3);
        padding: 79px 39px 39px;
        background: url(../img/icon.svg) no-repeat 39px 39px, $white;
    }

    &:last-child {
        margin-right: 0;
    }

    &__product__image {
        margin-bottom: 25px;

        img {
            margin-left: -39px;
            width: calc(100% + 39px);
        }
    }

    &__product__title {
        margin-bottom: 36px;
        padding-right:-15px;

        a {
            text-decoration: none;
            color: $black;

            h4 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    &__product__text {
        height: 120px;
        

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $black;
            
        }
    }

    &__product__send {
        display: flex;
        

        a {
            display: block;
            color: $white;
            background: $black;
            padding: 16px 37px 15px;
            text-decoration: none;
            text-transform: uppercase;
            

            &:hover {
                background-color: $yellow;
                color: $white;
            }
        }
    }
}