header {
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-row {
    padding-top: 50px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        a {

            img {}
        }
    }

    .main-menu {
        display: flex;
        align-items: center;
    }

    .menu {
        ul {
            list-style: none;
            display: flex;
            margin-bottom: 0;

            li {
                margin-right: 50px;

                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $black;
                    text-decoration: none;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }

    .language {
        ul {
            list-style: none;
            display: flex;
            margin-bottom: 0;

            li {
                margin-left: 10px;

                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: $black;
                    text-decoration: none;

                    &:hover {
                        color: $yellow;
                    }
                }

                &.active {
                    a {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

.invest-row {
    padding: 200px 0 100px;
}

.invest-block {
    width: 55%;
}

.invest-title {
    background-color: $yellow;
    padding: 40px 30px 38px;
    margin-bottom: 11px;

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        color: $black;
    }
}

.invest-market {
    background-color: $black;
    padding: 11px;
    display: flex;
    height: 85px;
}

.invest-market-info {
    display: flex;
    align-items: center;
    padding: 19px 0px 18px;

    p {
        color: $white;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 0 28px;
    }
}

.invest-market-send {
    display: flex;

    a {
        display: block;
        width: 230px;
        color: $black;
        background: $white;
        padding: 21px 40px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: $yellow;
            color: $white;
        }
    }
}