.mission__text {
    padding: 120px 15px;

    p {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $white;
    }
}

.mission {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: url("../img/c1.png") no-repeat;
        background-size: cover;
        width: 423px;
        height: 423px;
        right: 0;
        top: -100px;
        z-index: 100;
    }
}