.butt {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn {
    border: none;
    background: rgb(33, 211, 251);
    color: rgb(14, 6, 6);
    overflow: hidden;
}

.btn:hover {
    text-decoration: none;
    color: #000;
}

button {
    margin-bottom: 40px;}

#text {
    margin-bottom: 20px;
}