.block {
    width: 200px;
    height: 200px;
}

#color {
    margin-right: 50px;  
}

.control {
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

}