html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #333333;
}

header {
  background-image: url(../../img/Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-row {
  padding-top: 50px;
}

.logo{
  margin-left: 120px;
}
.menu-row .container {
  display: flex;
  justify-content: space-between;
}

.menu-row .main-menu {
  display: flex;
  align-items: center;
}

.menu-row .menu ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.menu-row .menu ul li {
  margin-right: 50px;
}

.menu-row .menu ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}

.menu-row .menu ul li a:hover {
  color: #FFCD42;
}

.menu-row .language ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-right: 40px;
}

.menu-row .language ul li {
  margin-left: 10px;
}

.menu-row .language ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
}

.menu-row .language ul li a:hover {
  color: #FFCD42;
}

.menu-row .language ul li.active a {
  color: #FFCD42;
}

.invest-row {
  padding: 200px 0 100px;
}

.invest-block {
  width: 55%;
}

.invest-title {
  background-color: #FFCD42;
  padding: 38px 40px;
  margin-bottom: 11px;
  margin-left: 120px;
}

.invest-title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #333333;
}

.invest-market {
  background-color: #333333;
  padding: 11px;
  display: flex;
  margin-left: 120px;
  height: 85px;
}

.invest-market-info {
  display: flex;
  align-items: center;
  padding: 16px 10px 22px;
  
}

.invest-market-info p {
  color: #FFFFFF;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0px;
  text-align: center;
    justify-content: center;
}

.invest-market-send {
  display: flex;
 
}

.invest-market-send a {
  display: block;
  width: 230px;
  color: #333333;
  background: #FFFFFF;
  padding: 28px 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
    justify-content: center;
}

.invest-market-send a:hover {
  background-color: #FFCD42;
  color: #FFFFFF;
}

.mission-text {
  padding: 120px 80px;
  margin-right: 160px;
}

.mission-text p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}