@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-weight: bold;
  font-style: normal;
}
html, body {
  font-family: "Gilroy", sans-serif;
}

.container {
  width: 1295px;
  position: relative;
  margin: 0 auto;
}

.menu {
  display: flex;
  height: 90px;
  width: 1295px;
  align-items: center;
  background: #78dec7;
  flex-direction: row;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.menu ul li {
  padding-right: 80px;
}
.menu ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.menu__reception a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 15px 8px;
  background-color: #fff;
}

.main {
  display: flex;
  height: 533px;
  width: 1295px;
  align-items: center;
  background: #78dec7;
  flex-direction: row;
}
.main h2 {
  color: #fff;
  text-align: left;
  font-size: 48px;
  font-family: "Golroy", sans-serif;
  font-style: normal;
}
.main p {
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-family: "Golroy", sans-serif;
  font-style: normal;
  margin-right: 120px;
  margin-bottom: 40px;
}
.main__more a {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
  padding: 15px 25px 14px;
  background-color: #00868A;
  text-transform: uppercase;
  font-family: "Golroy", sans-serif;
  font-style: normal;
  line-height: 21px;
}
.main__navigation a {
  margin-left: 345px;
}
.main__navigation a img {
  margin-top: 70px;
}

.services {
  display: flex;
  height: 80px;
  width: 1295px;
  align-items: center;
  background: #78dec7;
  flex-direction: row;
}
.services ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.services ul li {
  border-right: 1px;
  display: flex;
  height: 81px;
}
.services ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: inline-block;
  font-family: "Golroy", sans-serif;
  font-style: normal;
}
.services ul li a.complex {
  display: flex;
  height: 81px;
  width: 648px;
  background: #00868A;
  align-items: center;
  margin-top: -2px;
  justify-content: center;
}
.services ul li a.education {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81px;
  width: 324px;
  text-align: center;
}
.services ul li a.vip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81px;
  width: 324px;
  background: #00868A;
  text-align: center;
  margin-top: -2px;
}

.header {
  display: flex;
  height: 90px;
  align-items: center;
}
.header > div {
  display: flex;
  height: 90px;
  align-items: center;
}
.header__logo {
  border-left: 1px solid #C4C4C4;
  padding: 0 36px;
}
.header__phone {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__phone a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.header__salon {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__salon a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: flex;
  align-content: center;
}
.header__salon a .arrow-down {
  margin-left: 15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../img/look.png);
}
.header__special {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__special a {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 8px;
  background-color: #00868A;
  display: flex;
  align-items: center;
}
.header__special a .eye {
  width: 26px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  background-image: url(../img/eye.png);
}
.header__social ul {
  list-style: none;
  display: flex;
  border-left: 1px solid #C4C4C4;
  margin: 0;
  padding: 0;
}
.header__social ul li {
  border-right: 1px solid #C4C4C4;
  padding: 0 24px;
  display: flex;
  height: 90px;
  align-items: center;
}
.header__social ul li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
}
.header__social ul li a.vk {
  background-image: url(../img/vk.png);
}
.header__social ul li a.yt {
  background-image: url(../img/yt.png);
}
.header__social ul li a.fb {
  background-image: url(../img/fb.png);
}
.header__social ul li a.ig {
  background-image: url(../img/ig.png);
}

.content {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.content__courses {
  display: flex;
  height: 350px;
  width: 520px;
  align-items: center;
  background: #00868A;
  flex-direction: column;
  margin: 80px 24px 10px 0px;
}
.content__courses__innovation {
  margin: 44px 376px 30px 55px;
}
.content__courses__innovation a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 9px 15px 10px;
  background-color: #78dec7;
  text-transform: uppercase;
  font-family: "Golroy", sans-serif;
  font-style: normal;
  line-height: 21px;
}
.content__courses p {
  font-size: 30px;
  color: #fff;
  line-height: 45px;
  margin-left: 30px;
}
.content__more {
  display: inline-block;
}
.content__more a {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  padding: 0px 250px 23px 10px;
  text-transform: uppercase;
  display: inline-block;
}
.content__more img {
  margin-bottom: -10px;
}
.content__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-items: center;
  background: #fff;
  flex-direction: row;
  padding: 0px 250px 23px 40px;
}
.content__progress__aestetics a {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  margin: 116px 470px 23px 40px;
  padding: 9px 15px 10px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #78dec7;
}
.content__progress__statistics img {
  background-image: url(../../img/Rectangle\ 13.png);
  background-size: cover;
  height: 400px;
  width: 360px;
  background-repeat: no-repeat;
}
.content__progress__statistics ul {
  list-style-type: none;
}
.content__progress__statistics ul li {
  margin-top: 20px;
}
.content__progress__statistics ul li .numero {
  font-size: 48px;
  color: #C4C4C4;
  margin-left: 0px;
}
.content__progress__statistics ul li .big {
  color: #00868A;
  font-size: 96px;
  margin-left: 0px;
}
.content__progress__statistics ul li .text {
  font-size: 14px;
  color: #C4C4C4;
  margin-left: 20px;
  width: 144px;
  overflow-wrap: break-word;
}
.content__progress__statistics ul li .black {
  font-size: 28px;
  color: #000;
  line-height: 42px;
  margin-left: 20px;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}
.articles__recommendation {
  display: flex;
  height: 504px;
  width: 520px;
  align-items: center;
  background: #78dec7;
  flex-direction: column;
  margin: 120px 24px 10px 0px;
}
.articles__recommendation__news {
  margin: 44px 376px 30px 55px;
}
.articles__recommendation__news a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 9px 15px 10px;
  background-color: #00868A;
  text-transform: uppercase;
  font-family: "Golroy", sans-serif;
  font-style: normal;
  line-height: 21px;
}
.articles__recommendation__on {
  height: 151px;
  background-color: #00868A;
  color: #fff;
  font-size: 18px;
  padding: 35px 40px;
  text-align: left;
  justify-content: center;
}
.articles__recommendation__off {
  height: 151px;
  background-color: #78dec7;
  color: #fff;
  font-size: 18px;
  padding: 35px 40px;
  text-align: left;
  justify-content: center;
}
.articles__read {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 504px;
  width: 775px;
  align-items: center;
  background: #d7ece7;
  flex-direction: column;
  margin: -514px 24px 10px 520px;
}
.articles__read h4 {
  font-size: 24px;
  line-height: 36px;
  padding-left: 60px;
}
.articles__read ul {
  padding-left: 60px;
  list-style-type: square;
}
.articles__read ul li {
  font-size: 14px;
  padding-top: 20px;
  color: #000;
  padding-right: 90px;
}

.offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
}
.offer__actual {
  height: 350px;
  width: 1295px;
}
.offer h2 {
  font-size: 48px;
  line-height: 72px;
  color: #00868A;
  margin-top: 710px;
  background-color: #d7ece7;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 200px;
}
.offer__cosmetology ul {
  list-style: none;
  display: flex;
  border-left: 1px solid #C4C4C4;
  margin: 0;
  padding: 0;
}
.offer__cosmetology ul li {
  border-right: 1px solid #C4C4C4;
  padding: 0 24px;
  display: flex;
  height: 90px;
  align-items: center;
}
.offer__cosmetology ul li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
}
.offer__cosmetology ul li a__cosmetology1 {
  background: url(../../img/Rectangle\ 23.png);
}
.offer__cosmetology ul li a__cosmetology2 {
  background: url(../../img/Rectangle\ 23\ \(1\).png);
}
.offer__cosmetology ul li a__cosmetology3 {
  background: url(../../img/Rectangle\ 23\ \(2\).png);
}
.offer__cosmetology ul li a__cosmetology4 {
  background: url(../../img/Rectangle\ 23\ \(3\).png);
}/*# sourceMappingURL=style.css.map */