@charset "UTF-8";
@font-face {
  font-family: "Mulish";
  src: url(../../fonts/Mulish-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  background: #ffffff;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 160px;
  margin-top: 100px;
  margin-left: 50px;
}
@media (max-width: 1279px) {
  header {
    margin-bottom: 85px;
  }
}

.menu__row {
  padding-top: 50px;
}
.menu__row .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menu__row .main__menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
@media (max-width: 1279px) {
  .menu__row .main__menu {
    display: none;
  }
}
@media (min-width: 1280px) {
  .menu__row .main__menu {
    display: flex;
  }
}
.menu__row .menu {
  display: flex;
  justify-content: space-between;
}
.menu__row .menu ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 60px;
}
.menu__row .menu ul li {
  margin-right: 50px;
  width: 80px;
}
.menu__row .menu ul li a {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  margin-left: 15px;
}
@media (min-width: 1920px) {
  .menu__row .menu ul li a {
    font-size: 20px;
    line-height: 25px;
  }
}
.menu__row .menu ul li a:hover {
  color: #f6523c;
}
.menu__row .language ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 20px;
}
.menu__row .language ul li {
  margin-left: 10px;
  margin-top: -10px;
}
.menu__row .language ul li a {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 1920px) {
  .menu__row .language ul li a {
    font-size: 18px;
    line-height: 23px;
  }
}
.menu__row .language ul li a:hover {
  color: #f6523c;
}
.menu__row .language ul li.active a {
  color: #f6523c;
}
.menu__row .language ul .line {
  text-decoration: underline;
}
.menu__row .link {
  display: flex;
  margin-left: 50px;
}
.menu__row .link a {
  display: block;
  width: 153px;
  color: #ffffff;
  background: #f6523c;
  padding: 21px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.menu__row .link a:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid;
}
.menu__row .open_mobile_menu {
  display: flex;
}
@media (min-width: 440px) {
  .menu__row .open_mobile_menu {
    display: block;
    margin-left: 250px;
  }
}
.menu__row .open_mobile_menu a {
  width: 39px;
  height: 39px;
}
@media (min-width: 1280px) {
  .menu__row .open_mobile_menu {
    display: none;
  }
}
.menu__row .menu__title h1 {
  color: #000000;
}
@media (min-width: 768px) {
  .menu__row .menu__title h1 {
    width: 560px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1280px) {
  .menu__row .menu__title h1 {
    width: 1100px;
    font-size: 80px;
    line-height: 96px;
  }
}
@media (min-width: 1920px) {
  .menu__row .menu__content {
    background-image: url(../img/график\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    height: 546px;
    width: 1725px;
  }
}
.menu__row .menu__content p {
  height: 96px;
  color: #000000;
}
@media (min-width: 440px) {
  .menu__row .menu__content p {
    width: 400px;
    font-size: 16px;
    line-height: 25px;
  }
}
@media (min-width: 768px) {
  .menu__row .menu__content p {
    width: 700px;
  }
}
@media (min-width: 1280px) {
  .menu__row .menu__content p {
    width: 760px;
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 1920px) {
  .menu__row .menu__content p {
    width: 800px;
  }
}
.menu__row .menu__content__text {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
.menu__row .menu__content__text__programm ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  float: left;
  flex-direction: column;
}
@media (max-width: 767px) {
  .menu__row .menu__content__text__programm ul .veb:hover a {
    margin-left: -515px;
    left: 0;
  }
}
.menu__row .menu__content__text__programm ul li {
  margin-right: 50px;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
  z-index: 10000;
  font-size: 20px;
  line-height: 25px;
}
.menu__row .menu__content__text__programm ul li ul {
  left: -9999px;
  opacity: 0;
  position: absolute;
  list-style: none;
}
.menu__row .menu__content__text__programm ul li ul li {
  padding-top: 1px;
  float: none;
}
.menu__row .menu__content__text__programm ul li ul li h4 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
}
.menu__row .menu__content__text__programm ul li ul li p {
  width: 438px;
}
.menu__row .menu__content__text__programm ul li ul a {
  display: block;
  white-space: nowrap;
}
.menu__row .menu__content__text__programm ul li:hover ul {
  left: 250px;
  top: 0px;
  opacity: 1;
  border-left: 1px solid #000000;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .menu__row .menu__content__text__programm ul li:hover ul {
    left: 0px;
    top: 50px;
    position: relative;
    margin-bottom: 35px;
  }
}
.menu__row .menu__content__text__programm ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .menu__row .menu__content__text__programm ul li a {
    margin-left: 0px;
    left: 0;
  }
}
.menu__row .menu__content__text__programm ul li a:hover {
  color: #f6523c;
}

.communication {
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.communication__text {
  color: #ffffff;
  margin: 150px 80px 20px;
}
@media (min-width: 440px) {
  .communication__text {
    font-size: 24px;
    line-height: 38px;
    width: 400px;
    margin-top: 80px;
  }
}
@media (min-width: 768px) {
  .communication__text {
    width: 700px;
    margin-top: 80px;
  }
}
@media (min-width: 1280px) {
  .communication__text {
    font-size: 40px;
    line-height: 64px;
    width: 1100px;
    margin-top: 150px;
  }
}
@media (min-width: 1920px) {
  .communication__text {
    font-size: 40px;
    line-height: 64px;
    width: 1300px;
    margin-top: 150px;
  }
}
.communication__groups {
  display: flex;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-left: 60px;
}
@media (max-width: 767px) {
  .communication__groups {
    display: flex;
    flex-direction: column;
    height: 1037px;
  }
}
.communication__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 11px;
  width: 460px;
  padding: 50px 30px 39px;
}
@media (min-width: 440px) {
  .communication__group {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .communication__group {
    width: 200px;
    margin-bottom: 85px;
  }
}
@media (min-width: 1280px) {
  .communication__group {
    width: 370px;
    margin-bottom: 160px;
  }
}
@media (min-width: 1920px) {
  .communication__group {
    width: 460px;
  }
}
.communication:last-child {
  margin-right: 0;
}
.communication__group__image {
  margin-left: 50px;
  margin-bottom: 25px;
}
.communication__group__image img {
  margin-left: -39px;
  width: 40px;
  height: 40px;
}
.communication__group__title {
  padding-right: -15px;
  color: #ffffff;
}
.communication__group__title h4 {
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 440px) {
  .communication__group__title h4 {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1280px) {
  .communication__group__title h4 {
    font-size: 24px;
    line-height: 33px;
  }
}
.communication__group__text {
  height: 120px;
}
.communication__group__text p {
  font-weight: 500;
  color: #ffffff;
}
@media (min-width: 440px) {
  .communication__group__text p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .communication__group__text p {
    font-size: 20px;
    line-height: 30px;
  }
}

.works {
  background: #ffffff;
}
.works .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .works .container {
    height: 733px;
  }
}
@media (min-width: 1920px) {
  .works .container {
    height: 1022px;
  }
}
.works__task {
  width: 340px;
  height: 286px;
  margin-left: 50px;
}
@media (min-width: 440px) {
  .works__task {
    margin-top: 85px;
  }
}
@media (min-width: 1280px) {
  .works__task {
    margin-top: 150px;
  }
}
.works__task__title h2 {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
@media (min-width: 440px) {
  .works__task__title h2 {
    font-size: 24px;
    line-height: 31px;
  }
}
@media (min-width: 1280px) {
  .works__task__title h2 {
    font-size: 40px;
    line-height: 130%;
  }
}
.works__task__title .red {
  color: #f6523c;
}
.works__task__text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
@media (min-width: 440px) {
  .works__task__text p {
    font-size: 18px;
    line-height: 27px;
    width: 400px;
  }
}
@media (min-width: 1280px) {
  .works__task__text p {
    font-size: 24px;
    line-height: 150%;
  }
}
.works__task__link {
  background-color: #ffffff;
  color: #000000;
}
.works__task__link a {
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 21px 40px;
  border: 1px solid;
}
.works__task__link a .arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 60px;
  padding-left: 2px;
  background-image: url(../img/Group\ 8\ \(1\).png);
}
.works__task__link a .arrow:hover {
  background-image: url(../img/Group\ 8\ \(2\).png);
  background-repeat: no-repeat;
  margin-left: 60px;
  padding-left: 2px;
}
.works__task__link a:hover {
  display: inline-block;
  width: 250px;
  color: #ffffff;
  background: #f6523c;
  padding: 21px 40px;
  text-decoration: none;
  text-align: center;
  padding: 20px 40px;
  border: 1px solid #f6523c;
}
.works__all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 440px) {
  .works__all {
    margin: 0px 10px 70px 40px;
  }
}
@media (min-width: 768px) {
  .works__all {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .works__all {
    margin: -270px 10px 160px 500px;
  }
}
.works__all .img-sm {
  background-image: url(../img/img\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.works__all .img-md {
  background-image: url(../img/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.works__all .img-lg {
  background-image: url(../img/img\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.works__all__treker {
  padding-right: 20px;
}
.works__all__treker__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  margin: 50px 30px 85px 0px;
}
.works__all__treker__link a:hover {
  color: #f6523c;
}
.works__all__treker__content p {
  display: block;
  width: 400px;
  height: 100px;
  color: #000000;
  font-size: 18px;
  line-height: 25px;
}
@media (min-width: 440px) {
  .works__all__treker .img-sm {
    display: block;
    width: 400px;
    height: 500px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .works__all__treker .img-sm {
    width: 220px;
    height: 301px;
    margin-bottom: 30px;
  }
  .works__all__treker__content p {
    display: none;
  }
}
@media (min-width: 1280px) {
  .works__all__treker .img-sm {
    width: 240px;
    height: 301px;
  }
}
@media (min-width: 1920px) {
  .works__all__treker .img-sm {
    width: 410px;
    height: 500px;
    margin-bottom: 30px;
  }
  .works__all__treker__content p {
    display: block;
  }
}
.works__all__today {
  padding-right: 20px;
}
.works__all__today__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  margin: 50px 70px 85px 30px;
}
.works__all__today__link a:hover {
  color: #f6523c;
}
.works__all__today__content p {
  display: block;
  width: 400px;
  height: 100px;
  color: #000000;
  font-size: 18px;
  line-height: 25px;
}
@media (min-width: 440px) {
  .works__all__today .img-lg {
    display: block;
    width: 400px;
    height: 500px;
    margin-bottom: 30px;
  }
  .works__all__today .img-md {
    display: none;
  }
  .works__all__today .img-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .works__all__today .img-sm {
    display: block;
    width: 220px;
    height: 301px;
    margin-bottom: 30px;
  }
  .works__all__today .img-lg {
    display: none;
  }
  .works__all__today .img-md {
    display: none;
  }
  .works__all__today__content p {
    display: none;
  }
}
@media (min-width: 1280px) {
  .works__all__today .img-md {
    display: block;
    width: 240px;
    height: 301px;
    margin-bottom: 30px;
  }
  .works__all__today .img-sm {
    display: none;
  }
  .works__all__today .img-lg {
    display: none;
  }
}
@media (min-width: 1920px) {
  .works__all__today .img-lg {
    display: block;
    width: 410px;
    height: 500px;
    margin-bottom: 30px;
  }
  .works__all__today .img-md {
    display: none;
  }
  .works__all__today .img-sm {
    display: none;
  }
  .works__all__today__content p {
    display: block;
  }
}
.works__all__blog {
  padding-right: 20px;
}
.works__all__blog__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  margin: 50px 0px 85px 0px;
}
.works__all__blog__link a:hover {
  color: #f6523c;
}
.works__all__blog__content p {
  display: block;
  width: 400px;
  height: 100px;
  color: #000000;
  font-size: 18px;
  line-height: 25px;
}
@media (min-width: 440px) {
  .works__all__blog .img-md {
    display: block;
    width: 400px;
    height: 500px;
    margin-bottom: 30px;
  }
  .works__all__blog .img-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .works__all__blog .img-sm {
    display: block;
    width: 220px;
    height: 301px;
    margin-bottom: 30px;
  }
  .works__all__blog .img-md {
    display: none;
  }
  .works__all__blog__content p {
    display: none;
  }
}
@media (min-width: 1280px) {
  .works__all__blog .img-md {
    display: block;
    width: 240px;
    height: 301px;
    margin-bottom: 30px;
  }
  .works__all__blog .img-sm {
    display: none;
  }
}
@media (min-width: 1920px) {
  .works__all__blog .img-md {
    display: block;
    width: 410px;
    height: 500px;
    margin-bottom: 30px;
  }
  .works__all__blog .img-sm {
    display: none;
  }
  .works__all__blog__content p {
    display: block;
  }
}

.stages {
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.stages__title {
  width: 329px;
  margin-left: 50px;
  margin-top: 150px;
}
.stages__title h2 {
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 440px) {
  .stages__title h2 {
    font-size: 24px;
    line-height: 31px;
  }
}
@media (min-width: 1280px) {
  .stages__title h2 {
    font-size: 40px;
    line-height: 52px;
  }
}
.stages__title p {
  color: #ffffff;
}
@media (min-width: 440px) {
  .stages__title p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1280px) {
  .stages__title p {
    font-size: 24px;
    line-height: 33px;
  }
}
.stages__process {
  display: flex;
  flex-direction: column;
}
@media (min-width: 440px) {
  .stages__process {
    margin-bottom: 80px;
    width: 400px;
    padding: 5px 20px;
  }
}
@media (min-width: 768px) {
  .stages__process {
    width: 700px;
  }
}
@media (min-width: 1280px) {
  .stages__process {
    width: 760px;
    margin: -170px 10px 160px 450px;
  }
}
@media (min-width: 1920px) {
  .stages__process {
    width: 960px;
    margin: -170px 10px 160px 650px;
  }
}
.stages__process__level {
  border-top: 1px solid #ffffff;
}
.stages__process__level__numero {
  color: #f6523c;
  width: 60px;
  margin-right: 0px;
  padding-top: 45px;
}
@media (min-width: 440px) {
  .stages__process__level__numero {
    font-size: 36px;
    line-height: 133%;
  }
}
@media (min-width: 1280px) {
  .stages__process__level__numero {
    font-size: 48px;
    line-height: 62px;
  }
}
.stages__process__level__text {
  color: #ffffff;
  margin: -60px 10px 35px 85px;
  text-transform: uppercase;
}
@media (min-width: 440px) {
  .stages__process__level__text {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1280px) {
  .stages__process__level__text {
    font-size: 20px;
    line-height: 28px;
  }
}
.stages__process__level__border {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.blog {
  background: #f5f5f5;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.blog__news {
  width: 340px;
  height: 286px;
  margin-left: 50px;
  margin-top: 150px;
}
.blog__news h2 {
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.blog__news p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.blog__news__link {
  background-color: #ffffff;
  color: #000000;
}
.blog__news__link a {
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 21px 40px;
  border: 1px solid;
}
.blog__news__link a .arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 60px;
  padding-left: 2px;
  background-image: url(../img/Group\ 8\ \(1\).png);
}
.blog__news__link a .arrow:hover {
  background-image: url(../img/Group\ 8\ \(2\).png);
  background-repeat: no-repeat;
  margin-left: 60px;
  padding-left: 2px;
}
.blog__news__link a:hover {
  display: inline-block;
  width: 250px;
  color: #ffffff;
  background: #f6523c;
  padding: 21px 40px;
  text-decoration: none;
  text-align: center;
  padding: 20px 40px;
  border: 1px solid #f6523c;
}
.blog__article {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin: -300px 20px 160px 470px;
  background: #ffffff;
}
@media (min-width: 440px) {
  .blog__article {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .blog__article {
    width: 700px;
  }
}
@media (min-width: 1280px) {
  .blog__article {
    width: 790px;
  }
}
@media (min-width: 1920px) {
  .blog__article {
    width: 960px;
  }
}
.blog__article__all {
  background-color: #ffffff;
}
.blog__article__image {
  height: 190px;
  width: 190px;
  margin-left: 70px;
}
.blog__article__link {
  margin-top: 60px;
  margin-bottom: 18px;
  text-align: start;
  padding-left: 20px;
}
.blog__article__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
}
.blog__article__link a:hover {
  color: #f6523c;
}
.blog__article__content {
  display: none;
}
@media (min-width: 1920px) {
  .blog__article__link {
    width: 430px;
  }
  .blog__article__content {
    display: block;
    width: 328px;
  }
}
@media (max-width: 767px) {
  .blog__article {
    flex-direction: column;
    height: 1168px;
  }
  .blog__article__content {
    display: block;
    width: 328px;
  }
}
@media (max-width: 1279px) {
  .blog__article {
    margin: 15px 10px 20px 38px;
  }
}

.contact {
  background: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.contact__info {
  width: 422px;
  height: 255px;
  margin-left: 50px;
  margin-top: 150px;
}
.contact__info__title h2 {
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
}
.contact__info__title .red {
  color: #f6523c;
}
.contact__info__telephone .tel {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-image: url(../img/bi_phone\ \(1\).png);
}
.contact__info__telephone a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-right: 40px;
}
.contact__info__telephone a:hover {
  color: #f6523c;
}
.contact__info__adress {
  width: 341px;
}
.contact__info__adress .map {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-image: url(../img/bi_pin-map.png);
}
.contact__info__adress p {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-decoration: none;
  color: #000000;
}
.contact__info__email {
  width: 341px;
}
.contact__info__email .letter {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-image: url(../img/eva_email-outline.png);
}
.contact__info__email a {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-decoration: none;
  color: #000000;
}
.contact__info__email a:hover {
  color: #f6523c;
}
.contact__form {
  display: flex;
  flex-direction: row;
  height: 413px;
  border: 1px solid #dfdfdf;
  padding: 70px 100px;
  width: 430px;
}
.contact__form .mb-3 {
  display: flex;
}
.contact__form .mb-3 input {
  border: none;
}
.contact__form .mb-3 input[type=text] {
  border-bottom: 1px solid #dfdfdf;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 418px;
  height: 49px;
}
.contact__form .mb-3 input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  margin-top: 25px;
}
.contact__form .mb-3 input[type=checkbox]:checked{
  background-color: #f6523c;
  border: none;
  margin-top: 28px;
    width: 20px;
    height: 20px;
    padding: 0 3px;
}
.contact__form .mb-3 input[type=checkbox]:checked::before{
  content: "\2713";
  color: #ffffff;
  padding: initial;
  font-weight:bold;
  
}
.contact__form .mb-3 input:invalid :not(:-moz-placeholder-shown) {
  border-bottom: 1px solid red;
}
.contact__form .mb-3 input:invalid :not(:-ms-input-placeholder) {
  border-bottom: 1px solid red;
}
.contact__form .mb-3 input:invalid :not(:placeholder-shown) {
  border-bottom: 1px solid red;
}
.contact__form .mb-3 input:invalid :not(:-moz-placeholder-shown) + .form__error {
  display: block;
}
.contact__form .mb-3 input:invalid :not(:-ms-input-placeholder) + .form__error {
  display: block;
}
.contact__form .mb-3 input:invalid :not(:placeholder-shown) + .form__error {
  display: block;
}
.contact__form .mb-3 input:valid :not(:-moz-placeholder-shown) {
  border-bottom: 1px solid black;
}
.contact__form .mb-3 input:valid :not(:-ms-input-placeholder) {
  border-bottom: 1px solid black;
}
.contact__form .mb-3 input:valid :not(:placeholder-shown) {
  border-bottom: 1px solid black;
}
.contact__form .mb-3 .form__error {
  color: red;
  text-align: center;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
.contact__form .mb-3 p {
  font-size: 14px;
  line-height: 18px;
  margin-left: 48px;
  margin-top: -27px;
}
.contact__form .mb-3 .red {
  color: #f6523c;
}
.contact__form .mb-3 .button {
  display: flex;
  background: #f6523c;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  padding: 16px 40px;
}
.contact__form .mb-3 .button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid;
}
@media (min-width: 1280px) {
  .contact__form .button {
    margin-left: 195px;
  }
}
@media (min-width: 1920px) {
  .contact__form {
    width: 860px;
    height: 480px;
  }
  .contact__form .mb-3 {
    width: 50%;
    float: left;
    margin-bottom: 40px;
  }
  .contact__form .lg-2 {
    width: 100%;
    float: left;
  }
  .contact__form .message {
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
  }
  .contact__form .styled_checkbox {
    width: 100%;
    padding: 5px 10px 5px 15px;
    border-bottom: none;
  }
  .contact__form .button {
    margin-left: 670px;
  }
}
@media (min-width: 440px) {
  .contact__form {
    width: 400px;
    border: none;
    margin: 70px px 10px 20px 1px;
    padding: 0px 40px;
  }
}
@media (min-width: 768px) {
  .contact__form {
    margin: 110px 10px 20px 38px;
    border: 1px solid #dfdfdf;
    padding: 70px 100px ;
    width: 430px;
  }
}
@media (min-width: 1280px) {
  .contact__form {
    margin: -250px 10px 0px 570px;
    padding: 70px 100px ;
    height: 413px;
  }
}
@media (min-width: 1920px) {
  .contact__form {
    margin: -250px 10px 0px 670px;
    width: 860px;
    height: 480px;
  }
}


footer {
  background: #000000;
}

.company {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 150px;
  margin-bottom: 160px;
}
.company__logo {
  margin-top: 150px;
  margin-left: 50px;
}
.company h4 {
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 150px;
  margin-left: 85px;
}
@media (max-width: 1279px) {
  .company__logo {
    display: none;
  }
}
@media (min-width: 1920px) {
  .company__logo {
    display: none;
  }
}
.company__about ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: 85px;
}
.company__about ul li {
  padding-bottom: 35px;
}
.company__about ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.company__about ul li a:hover {
  color: #f6523c;
}
@media (max-width: 767px) {
  .company__about {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .company__about {
    margin-left: 100px;
  }
}
.company__services ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: 85px;
}
.company__services ul li {
  padding-bottom: 32px;
}
.company__services ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.company__services ul li a:hover {
  color: #f6523c;
}
@media (max-width: 767px) {
  .company__services {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .company__services {
    margin-left: -200px;
  }
}
.company__connection h4 {
  margin-left: 0px;
}
.company__connection__telephone .tel {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-image: url(../img/bi_phone.png);
}
.company__connection__telephone a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 40px;
  margin-top: 10px;
}
.company__connection__telephone a:hover {
  color: #f6523c;
}
.company__connection__adress {
  width: 341px;
}
.company__connection__adress .map {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-image: url(..//img/Group\ \(1\).png);
}
.company__connection__adress p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 10px;
}
.company__connection__email {
  width: 341px;
}
.company__connection__email .letter {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 10px;
  background-image: url(../img/Vector\ 2.png);
}
.company__connection__email a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  padding-top: 10px;
}
.company__connection__email a:hover {
  color: #f6523c;
}
.company__connection__social ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.company__connection__social ul li {
  padding: 0 24px;
  display: flex;
  height: 90px;
  align-items: center;
}
.company__connection__social ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center center;
  border-radius: 50%;
}
.company__connection__social ul li a.tl {
  background-image: url(../img/icon_telegram.png);
}
.company__connection__social ul li a.wr {
  background-image: url(../img/icon_dribbble.png);
}
.company__connection__social ul li a.be {
  background-image: url(../img/icon_behance.png);
}
.company__connection__social ul li a.in {
  background-image: url(../img/icon_linkedin.png);
}
@media (max-width: 767px) {
  .company__connection {
    width: 100%;
    margin: 420px 10px 5px -416px;
  }
}
@media (min-width: 1920px) {
  .company__connection {
    margin-right: 500px;
  }
}

.year {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-top: 2px solid #ffffff;
}
.year p {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 15px;
}

.mobile {
  padding: 51px 21px;
  position: fixed;
  width: 100%;
  max-width: 440px;
  background: #000000;
  top: 0;
  left: -490px;
  transition: left 0.5s;
}
.mobile.open {
  left: 0;
}
.mobile_head {
  display: flex;
  justify-content: space-between;
}
.mobile_logo a {
  text-decoration: none;
}
.mobile_logo a img {
  width: 180px;
}
.mobile_close {
  display: flex;
}
.mobile_close a {
  width: 40px;
  height: 40px;
  background: url("../img/close.png");
}
.mobile_menu ul {
  list-style: none;
  text-align: start;
  padding: 70px 0;
}
.mobile_menu ul li {
  padding-bottom: 30px;
}
.mobile_menu ul li a {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-decoration: none;
  color: #ffffff;
}
.mobile_menu ul li a:hover {
  color: #f6523c;
}
.mobile_contacts {
  background-color: #000000;
  color: #ffffff;
  width: 300px;
}
.mobile_contacts a {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 21px 20px 35px;
  border: 1px solid;
}
.mobile_contacts a .arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 18px;
  margin-top: 20px;
  padding-left: 2px;
  background-image: url(../img/Group\ 8\ \(2\).png);
}
.mobile_contacts a .arrow:hover {
  background-image: url(../img/Group\ 8\ \(1\).png);
  background-repeat: no-repeat;
  margin-left: 18px;
  padding-left: 2px;
  padding-bottom: 25px;
}
.mobile_contacts a:hover {
  display: inline-block;
  color: #000000;
  background: #ffffff;
  padding: 21px 40px 35px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ffffff;
}
.mobile_langs {
  padding-top: 30px;
  text-align: start;
}
.mobile_langs ul {
  list-style: none;
  display: flex;
  justify-content: start;
}
.mobile_langs ul li {
  margin: 0 7px;
}
.mobile_langs ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.mobile_langs ul li.active a {
  color: #f6523c;
}
.mobile_langs ul .line {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */