@font-face {
  font-family: "Mulish";
  src: url(../../fonts/Mulish-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Mulish", sans-serif;
}

header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 160px;
  margin-top: 100px;
  margin-left: 50px;
}

.menu__row {
  padding-top: 50px;
}
.menu__row .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menu__row .main__menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.menu__row .menu ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
  margin-top: 5px;
}
.menu__row .menu ul li {
  margin-right: 50px;
  width: 60px;
}
.menu__row .menu ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.menu__row .menu ul li a:hover {
  color: #f6523c;
}
.menu__row .language ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.menu__row .language ul li {
  margin-left: 10px;
}
.menu__row .language ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.menu__row .language ul li a:hover {
  color: #f6523c;
}
.menu__row .language ul li.active a {
  color: #f6523c;
}
.menu__row .link {
  display: flex;
  margin-left: 70px;
}
.menu__row .link a {
  display: block;
  width: 230px;
  color: #ffffff;
  background: #f6523c;
  padding: 21px 40px;
  text-decoration: none;
  text-align: center;
}
.menu__row .link a:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid;
}
.menu__row .menu__title h1 {
  font-size: 80px;
  line-height: 96px;
  width: 800px;
  color: #000000;
}
.menu__row .menu__content {
  width: 820px;
}
.menu__row .menu__content p {
  font-size: 20px;
  line-height: 32px;
  height: 96px;
  color: #000000;
}
.menu__row .menu__content__text {
  display: flex;
  flex-direction: row;
}
.menu__row .menu__content__text__programm ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  float: left;
  flex-direction: column;
}
.menu__row .menu__content__text__programm ul li {
  margin-right: 50px;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
  z-index: 10000;
  width: 250px;
}
.menu__row .menu__content__text__programm ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__row .menu__content__text__programm ul li a:hover {
  color: #f6523c;
}
.menu__content__text__programm ul li ul{
  left: -9999px;
  opacity: 0;
  position: absolute;

}
.menu__content__text__programm ul li:hover ul{
  top: 5px;
  left: 230px;
  opacity: 1;
  border-left:1px solid #000000 ;
  padding-left: 20px;
}


.communication {
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.communication__text {
  color: #ffffff;
  font-size: 40px;
  line-height: 64px;
  width: 600px;
  margin: 150px 60px;
}
.communication__groups {
  display: flex;
  padding-bottom: 50px;
  margin-top: 0px;
}
.communication__group {
  display: flex;
  flex-direction: column;
  margin-right: 11px;
  width: calc((100% - 22px) / 3);
  padding: 0px 39px 39px;
}
.communication:last-child {
  margin-right: 0;
}
.communication__group__image {
  margin-left: 50px;
  margin-bottom: 25px;
  width: 40px;
  height: 40px;
}
.communication__group__image img {
  margin-left: -39px;
  width: calc(100% + 39px);
}
.communication__group__title {
  padding-right: -15px;
  color: #ffffff;
}
.communication__group__title h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}
.communication__group__text {
  height: 120px;
}
.communication__group__text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30 px;
  color: #ffffff;
}

.works {
  background: #ffffff;
}
.works .container {
  width: 1280px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.works__task {
  width: 340px;
  height: 286px;
  margin-left: 50px;
  margin-top: 150px;
}
.works__task__title h2 {
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.works__task__title .red {
  color: #f6523c;
}
.works__task__text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.works__task__link {
  background-color: #ffffff;
  color: #000000;
}
.works__task__link a {
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 21px 40px;
  border: 1px solid;
}
.works__task__link a .arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 60px;
  padding-left: 2px;
  background-image: url(../img/Group\ 8\ \(1\).png);
}
.works__task__link a:hover {
  display: inline-block;
  width: 250px;
  color: #ffffff;
  background: #f6523c;
  padding: 21px 40px;
  text-decoration: none;
  text-align: center;
  padding: 20px 40px;
  border: 1px solid #f6523c;
}
.works__all {
  display: flex;
  flex-direction: row;
  height: 413px;
  margin: -270px 10px 160px 440px;
}
.works__all__treker__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
}
.works__all__treker__link a:hover {
  color: #f6523c;
}
.works__all__today {
  padding-left: 20px;
}
.works__all__today__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
}
.works__all__today__link a:hover {
  color: #f6523c;
}
.works__all__blog {
  padding-left: 20px;
}
.works__all__blog__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
}
.works__all__blog__link a:hover {
  color: #f6523c;
}
.works__all .image {
  height: 301px;
  width: 240px;
}

.stages {
  background: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.stages__title {
  width: 329px;
  margin-left: 50px;
  margin-top: 150px;
}
.stages__title h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
}
.stages__title p {
  color: #ffffff;
  font-size: 24px;
  line-height: 33px;
}
.stages__process {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: -170px 10px 20px 450px;
  margin-bottom: 160px;
}
.stages__process__level {
  border-top: 1px solid #ffffff;
}
.stages__process__level__numero {
  color: #f6523c;
  font-size: 48px;
  line-height: 62px;
  width: 60px;
  margin-right: 0px;
  padding-top: 45px;
}
.stages__process__level__text {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  margin: -60px 10px 35px 85px;
  text-transform: uppercase;
}
.stages__process__level__border {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.blog {
  background: #f5f5f5;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.blog__news {
  width: 340px;
  height: 286px;
  margin-left: 50px;
  margin-top: 150px;
}
.blog__news h2 {
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.blog__news p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.blog__news__link {
  background-color: #ffffff;
  color: #000000;
}
.blog__news__link a {
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 21px 40px;
  border: 1px solid;
}
.blog__news__link a .arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 60px;
  padding-left: 2px;
  background-image: url(../img/Group\ 8\ \(1\).png);
}
.blog__news__link a:hover {
  display: inline-block;
  width: 250px;
  color: #ffffff;
  background: #f6523c;
  padding: 21px 40px;
  text-decoration: none;
  text-align: center;
  padding: 20px 40px;
  border: 1px solid #f6523c;
}
.blog__article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 453px;
  width: 250px;
  margin: -300px 10px 160px 470px;
}
.blog__article__image {
  height: 190px;
  width: 190px;
  margin-left: 70px;
}
.blog__article__link {
  margin-top: 60px;
  margin-left: 105px;
  margin-bottom: 160px;
}
.blog__article__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
}
.blog__article__link a:hover {
  color: #f6523c;
}

.contact {
  background: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.contact__info {
  width: 422px;
  height: 255px;
  margin-left: 50px;
  margin-top: 150px;
}
.contact__info__title h2 {
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
}
.contact__info__title .red {
  color: #f6523c;
}
.contact__info__telephone .tel {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 2px;
  background-image: url(../img/bi_phone\ \(1\).png);
}
.contact__info__telephone a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-right: 40px;
}
.contact__info__telephone a:hover {
  color: #f6523c;
}
.contact__info__adress {
  width: 341px;
}
.contact__info__adress .map {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 2px;
  background-image: url(../img/bi_pin-map.png);
}
.contact__info__adress p {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-decoration: none;
  color: #000000;
}
.contact__info__email {
  width: 341px;
}
.contact__info__email .letter {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 2px;
  background-image: url(../img/eva_email-outline.png);
}
.contact__info__email a {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-decoration: none;
  color: #000000;
}
.contact__info__email a:hover {
  color: #f6523c;
}
.contact__form {
  display: flex;
  flex-direction: row;
  height: 413px;
  margin: -250px 10px 160px 570px;
  border: 1px solid #dfdfdf;
  padding: 70px 100px;
  width: 430px;
}
.contact__form .mb-3 {
  display: flex;
}
.contact__form .mb-3 input {
  border: none;
}
.contact__form .mb-3 input[type=text] {
  border-bottom: 1px solid #dfdfdf;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 418px;
  height: 49px;
}
.contact__form .mb-3 input[type=checkbox] {
  margin-top: 40px;
  width: 16px;
  height: 16px;
}
.contact__form .mb-3 p {
  font-size: 14px;
  line-height: 18px;
  margin-left: 35px;
  margin-top: -20px;
  width: 360px;
}
.contact__form .mb-3 .red {
  color: #f6523c;
}
.contact__form .mb-3 .button {
  display: flex;
  background: #f6523c;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  padding: 16px 40px;
  margin-left: 195px;
}
.contact__form .mb-3 .button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid;
}

footer {
  background: #000000;
}

.company {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 150px;
}
.company__logo {
  margin-top: 150px;
  margin-left: 50px;
}
.company h4 {
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 150px;
  margin-left: 85px;
}
.company__about ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: 85px;
}
.company__about ul li {
  padding-bottom: 35px;
}
.company__about ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.company__about ul li a:hover {
  color: #f6523c;
}
.company__services ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: 85px;
}
.company__services ul li {
  padding-bottom: 32px;
}
.company__services ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.company__services ul li a:hover {
  color: #f6523c;
}
.company__connection h4 {
  margin-left: 0px;
}
.company__connection__telephone .tel {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 18px;
  background-repeat: no-repeat;
  background-image: url(../img/bi_phone.png);
}
.company__connection__telephone a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 40px;
  margin-top: 10px;
}
.company__connection__telephone a:hover {
  color: #f6523c;
}
.company__connection__adress {
  width: 341px;
}
.company__connection__adress .map {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-left: 2px;
  background-repeat: no-repeat;
  padding-bottom: 18px;
  background-image: url(..//img/Group\ \(1\).png);
}
.company__connection__adress p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 10px;
}
.company__connection__email {
  width: 341px;
}
.company__connection__email .letter {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 18px;
  background-image: url(../img/Vector\ 2.png);
}
.company__connection__email a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  padding-top: 10px;
}
.company__connection__email a:hover {
  color: #f6523c;
}/*# sourceMappingURL=style.css.map */