.blog{
    background: $white;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        
        &__news{
            width: 340px;
                height: 286px;
                margin-left: 50px;
                margin-top: 150px;

                h2{
                font-size: 40px;
                    line-height: 130%;
                    text-transform: uppercase;
                    letter-spacing: 0.01em;
                }

                p{
                font-weight: 400;
                    font-size: 24px;
                    line-height: 150%;
                    color: $black;
                }

                                 &__link {
                                     padding: 20px 40px 20px 40px;
                                     border: 1px solid $black;
                
                                     a {
                                         font-size: 20px;
                                         line-height: 130%;
                
                                         text-decoration: none;
                                         color: $black;
                
                                         display: flex;
                                         align-items: center;
                
                                         .arrow {
                                             width: 16px;
                                             height: 16px;
                                             display: inline-block;
                                             margin-left: 60px;
                                             padding-left: 2px;
                                             background-image: url(../img/Group\ 8\ \(1\).png);
                                         }
                                     }
                                 }
        }

        &__article{
            display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 453px;
                width: 250px;
                margin: -300px 10px 160px 470px;
                

                &__image {
                        height: 190px;
                        width: 190px;
                        margin-left: 70px;
                    }

                &__link {
                    margin-top: 60px;
                            margin-left: 105px;
                            margin-bottom: 160px;
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $black;
                            font-size: 20px;
                            line-height: 26px;
                            
                
                        }
                    }
        }
}