.communication {
    background: $black;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

    &__text {
        color: $white;
        font-size: 40px;
        line-height: 64px;
        width: 600px;
        margin: 150px 60px;

        @media (min-width: 1920px) {
            font-size: 40px;
            line-height: 64px;
            width: 1300px;
        }
    }

    &__groups {
        display: flex;
        padding-bottom: 50px;
        margin-top: 0px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin-right: 11px;
        width: 460px;
        padding: 0px 39px 39px;

    }

    &:last-child {
        margin-right: 0;
    }

    &__group__image {
        margin-left: 50px;
        margin-bottom: 25px;


        img {
            margin-left: -39px;
            width: 40px;
            height: 40px;
        }
    }

    &__group__title {
        padding-right: -15px;
        color: $white;

        h4 {
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
        }

    }

    &__group__text {
        height: 120px;

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 30 px;
            color: $white;
        }
    }
}