.stages {
    background: $black;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

    &__title {
        width: 329px;
        margin-left: 50px;
        margin-top: 150px;

        h2 {
            color: $white;
           
            text-transform: uppercase;

            @media (min-width: 440px) {
                    font-size: 24px;
                    line-height: 31px;
                }
            
                @media (min-width: 1280px) {
                    font-size: 40px;
                        line-height: 52px;
                }
        }

        p {
            color: $white;
            

            @media (min-width: 440px) {
                    font-size: 18px;
                    line-height: 25px;
                }
            
                @media (min-width: 1280px) {
                    font-size: 24px;
                        line-height: 33px;
                }
        }
    }

    &__process {
        display: flex;
        flex-direction: column;
        
       
       

        @media (min-width: 440px) {
                margin-bottom: 80px;
                width: 400px;
                padding: 5px 20px;
            }
        
                        @media (min-width: 768px) {
                            
                            width: 700px;
                        }
            @media (min-width: 1280px) {
                width: 760px;
                margin: -170px 10px 0px 450px;
               
            }

                        @media (min-width: 1920px) {
                            width: 960px;
                            margin: -170px 10px 0px 650px;
            
                        }


        &__level {
            border-top: 1px solid $white;

            &__numero {
                color: $red;
                
                width: 60px;
                margin-right: 0px;
                padding-top: 45px;

                @media (min-width: 440px) {
                        font-size: 36px;
                        line-height: 133%;
                    }
                
                    @media (min-width: 1280px) {
                    font-size: 48px;
                        line-height: 62px;
                    }
            }

            &__text {
                color: $white;
                
                margin: -60px 10px 35px 85px;
                text-transform: uppercase;

                @media (min-width: 440px) {
                        font-size: 18px;
                        line-height: 25px;
                    }
                
                    @media (min-width: 1280px) {
                    font-size: 20px;
                        line-height: 28px;
                    }
            }

            &__border {
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
            }
        }
    }

        
}