@font-face {
    font-family: "Mulish";
    src: url(../../fonts/Mulish-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Mulish', sans-serif;
}