.works {
    background: $white;

    .container {
        width: 1280px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        @media (min-width: 1280px) {
            height: 733px;
        }

        @media (min-width: 1920px) {
            height: 1022px;
        }
    }

    &__task {
        width: 340px;
        height: 286px;
        margin-left: 50px;
        margin-top: 150px;

        &__title {

            h2 {

                font-size: 40px;
                line-height: 130%;
                text-transform: uppercase;
                letter-spacing: 0.01em;
            }

            .red {
                color: $red;
            }
        }

        &__text {

            p {
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;
                color: $black;
            }
        }

        &__link {
            background-color: $white;
            color: $black;

            a {
                font-size: 20px;
                line-height: 130%;
                text-decoration: none;
                color: $black;
                display: block;
                text-align: center;
                padding: 21px 40px;
                border: 1px solid;

                .arrow {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin-left: 60px;
                    padding-left: 2px;
                    background-image: url(../img/Group\ 8\ \(1\).png);

                    &:hover {
                        background-image: url(../img/Group\ 8\ \(2\).png);
                        background-repeat: no-repeat;
                        margin-left: 60px;
                        padding-left: 2px;
                    }
                }

                &:hover {
                    display: inline-block;
                    width: 250px;
                    color: $white;
                    background: $red;
                    padding: 21px 40px;
                    text-decoration: none;
                    text-align: center;
                    padding: 20px 40px;
                    border: 1px solid $red;
                }
            }
        }
    }

    &__all {
        display: flex;
        flex-direction: row;
        height: 413px;
        margin: -270px 10px 160px 440px;
        margin-bottom: 160px;

        &__treker {
            &__link {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $black;
                    font-size: 24px;
                    line-height: 36px;

                    &:hover {
                        color: $red;
                    }
                }
            }

            &__content {
                display: none;
            }

            @media(min-width:1280px) {

                &__content {
                    width: 240px;
                    height: 413px;
                }

                .img-sm {
                    width: 240px;
                    height: 301px;
                    background-position: 50% 50%;
                    background-size: 240p 301px;
                }

                &__link {
                    margin-top: 235px;
                }
            }

            @media (min-width: 1920px) {

                &__content {
                    display: block;
                    width: 410px;
                }

                .img-sm {
                    width: 410px;
                    height: 500px;
                }

                &__link {
                    margin-top: 235px;
                }
            }
        }

        &__today {
            padding-left: 20px;

            .img-lg {
                display: none;
            }

            &__content {
                display: none;
            }

            @media (min-width:768px) {
                .img-md {
                    display: none;
                }

                .img-lg {
                    display: none;
                }

                .img-sm {
                    display: block;
                    width: 130px;
                    height: 200px;
                }
            }

            @media(min-width:1280px) {

                .img-md {
                    width: 240px;
                    height: 301px;
                }

                &__link {
                    margin-top: 235px;
                }
            }

            @media (min-width: 1920px) {
                .img-md {
                    display: none;
                }

                .img-lg {
                    display: block;
                    width: 410px;
                    height: 500px;
                }

                &__content {
                    display: block;
                    width: 410px;
                }

                &__link {
                    margin-top: 235px;
                }
            }

            &__link {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $black;
                    font-size: 24px;
                    line-height: 36px;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }

        &__blog {
            padding-left: 20px;

            &__link {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $black;
                    font-size: 24px;
                    line-height: 36px;

                    &:hover {
                        color: $red;
                    }
                }
            }

            &__content {
                display: none;
            }

            @media (min-width:768px) {
                .img-md {
                    display: none;
                }

                .img-sm {
                    display: block;
                    width: 130px;
                    height: 200px;
                }
            }

            @media(min-width:1280px) {

                .img-md {
                    width: 240px;
                    height: 301px;
                }

                &__link {
                    margin-top: 235px;
                }
            }

            @media (min-width: 1920px) {

                &__content {
                    display: block;
                    width: 410px;
                }

                .img-md {
                    width: 410px;
                    height: 500px;
                }

                &__link {
                    margin-top: 235px;
                }
            }
        }
    }

        @media(max-width:1279px) {
    
            &__all{
                margin: 60px 10px 20px 38px;
            }
    
        }
    @media(min-width:1280px) {

        &__all {
            height: 413px;
        }
    }
}