* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
}

#form {
    margin-bottom: 20px;
}

input {
    width: 222px;
    height: 35px;
    border: 1px solid #5e5f62;
}

#table {
    margin-bottom: 20px;
    width: 100%;  
    border-collapse: collapse;
}

td {
    border: 1px solid #5e5f62;
    text-align: center;
    height: 35px;
    font-size: 25px;
}

th {
    color: rgb(13, 13, 13);
    border: 1px solid #5e5f62;
    text-align: center;
    width: 200px;
    height: 40px;
}

tr {
    background: #d1edeb;
    color: rgb(13, 13, 13);
    width: 200px;
}

.btnTab {
    background-color: #83daad;
    line-height: 30px;
    border-radius: 3px;
    padding: 0;
    border: 1px solid #5e5f62;
    width: 110px;
    font-size: 15px;
    color:rgb(13, 13, 13);
    cursor: pointer;
}

.btnTab:hover {
    background-color: #82b3b0;
}

.btn{
    background-color:#59e19b;
    line-height: 30px;
    padding: 0;
    border: 1px solid #5e5f62;
    width: 25%;
    float: right;
    margin-bottom: 40px;
    font-size: 15px;
    color:rgb(13, 13, 13);
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #82b3b0;
}

.result {
    font-size: 40;
}