table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 3px solid rgb(12, 12, 12);
}
td{
    width: 100px;
    height: 100px;
    font-size: 14px;
    border: 1px solid #000;
    text-align: center;
}
.holiday{
    background: rgb(223, 83, 83);
}
.other{
    background: rgb(194, 188, 188);
}
img{
    background-image:none;
    height: 100px;
	width: 100px;
	


}